.navtabItem {
    cursor: pointer;
    border-radius: 5rem;
    transition-duration: 0.7s;
}

.navtabItem.active {
    background-color: rgb(203, 178, 106);
}

.navtabItem:hover {
    font-weight: bolder;
}

.skillCard {
    border-bottom: 8px solid  rgb(203, 178, 106, 0.500);
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 2rem;
    padding: 1rem;
    text-align: center;
    backdrop-filter: blur(10px);
}

.card-title {
    color: rgb(203, 178, 106);
    font-weight: bold;
}

.panelText{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: center;
    font-size: 1.8rem;
    color: rgba(203, 178, 106)
}
